<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Grupo" value="0"/>
    <add key="Usuario" value=""/>
    <add key="Password" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Sistema" connectionString="Data Source=hbdgestion;Initial Catalog=BD_INVENTARIOHSC;User Id=usr_inventario;Password=casita11;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>