<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Grupo" value="0" />
    <add key="UsuarioS" value="" />
    <add key="Usuario" value="" />
    <add key="Password" value="" />
    <add key="Dominio" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Sistema" connectionString="Data Source=hdatacenter1;Initial Catalog=BD_GlosarioArchivos;User Id=usr_glosarios;Password=Casita13;" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>